################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
/.vs/Project1DS/v17/Browse.VC.db-wal
/.vs/Project1DS/v17/Browse.VC.opendb
/Project1DS
